# ==============================================================================
# SZABLON .ENV - do skopiowania jako ".env" w środowisku roboczym
# ==============================================================================

AZURE_TENANT_ID=""
AZURE_CLIENT_ID=""
AZURE_CLIENT_SECRET=""

LOG_LEVEL="INFO"
ENVIRONMENT="development"
