# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/
dist/

# Security & Secrets
.env
*.log
secrets.json
.python-hosting-api-key

# PowerShell
.history
"@